@import "../../styles/mixins";

.reviewCard {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
  gap: 1.6rem;
  padding: 1.6rem 1.6rem;
  border-radius: 1rem;
  @include responsive(md) {
    gap: 1rem;
  }
}
.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  p {
    margin: 0;
  }
}
.userName {
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  gap: 1.2rem;
  
  @include responsive(md) {
    white-space: pre-wrap;
    font-size: 1.4rem;
  }
}
.dateTime {
  font-size: 1.6rem;
  font-weight: 400;
  color: #4C4C4C;
  @include responsive(md) {
    white-space: pre-wrap;
    font-size: 1.4rem;
  }
}
.content {
  color: #1e1e1e;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  margin: 0; 
  @include responsive(md) {
    font-size: 1.4rem;
  }
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include responsive(xs) {
    flex-direction: column;
    gap: 2rem;
  }
  p {
    font-size: 2.4rem;
    color: #fc993e;
    margin: 0;
    @include responsive(md) {
      font-size: 2.0rem;
    }
    @include responsive(xs) {
      width: 100%;
    }
  }
}

.coloredStar {
  font-size: 3rem;
  color: #fc993e;
  @include responsive(md) {
    font-size: 2.5rem;
  }
}

.uncoloredStar {
  font-size: 3rem;
  color: #B0B0B1;
  @include responsive(md) {
    font-size: 2.5rem;
  }
}

.askBtn {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #2C6FEE;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  height: 3.8rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  cursor: pointer;
  @include responsive(md) {
    height: 3.5rem;
    font-size: 1.4rem;
  }
  @include responsive(xs) {
    width: 100%;
  }
}
