@import "../../styles/mixins";

.upcoming {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: baseline;
  background-color: #2C6FEE1A;
  padding: 2.4rem 1.6rem 1.6rem 1.6rem;
  border-radius: 1rem;

  @include responsive(md) {
    gap: 0.8rem;
  }
  @include responsive(sm) {
    padding: 0.8rem;
  }
}

.title {
  color: #1E1E1E;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: left;
  margin: 0;
  @include responsive(md) {
    font-size: 2.0rem;
  }
  @include responsive(sm) {
    padding-bottom: 0.8rem;
  }
}
.tableTitle {
  display: flex;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;

  
  @include responsive(sm) {
    display: none;
  }

}

.midContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  
  p {
    color: #888889;
    font-size: 1.6rem;
    width: 50%;
    margin: 0;
    @include responsive(md) {
      font-size: 1.2rem;
    }
  }
}