@import "../../styles/mixins";

.container {
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
  background-color: white;
  padding: 2.4rem;
  border-radius: 2rem;

  @include responsive(xl) {
    align-items: stretch;
    flex-direction: column;
  }
  @include responsive(md) {
    padding: 1.6rem;
  }
}