@import "../../styles/mixins";

.buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.6rem;

  @include responsive(xl) {
    flex-direction: row;
  }
  @include responsive(sm) {
    flex-direction: column;
    gap: 0.8rem;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    height: 6.2rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    @include responsive(xl) {
      width: 50%;
    }
    @include responsive(md) {
      font-size: 2rem;
      height: 5.4rem;
    }
    @include responsive(sm) {
      width: 100%;
      height: 4.8rem;
    }
  }
}

.primaryBtn {
  background-color: #2C6FEE;
}

.secondaryBtn {
  background-color: #FC993E;
}
